@import "./../../shared/styles/box-model.scss";
@import "./../../shared/styles/colors.scss";

$mobile-view-width: 900px;
$max-width: 1400px;


$light-color: #aeaeae;
$box-color: #fff;

.chart-page {
    margin: 0 auto;

    width: 100%;
    max-width: $max-width;

    color: $primary-text-color;

    &.loading {
        app-spinner {
            display: block;
            margin: $block-margin-size auto;

            width: 44px;
        }
    }

    .charts {
        width: 100%;

        .left, .right {
            float: left;
            
            width: 50%;

            @media screen and ( max-width: $mobile-view-width )
            {
                width: 100%;
            }

            canvas {
                width: 100%;
                height: auto;
            }

            h3 {
                font-family: "Open Sans", sans-serif;
                font-weight: 700;
                font-size: 19px;
                word-break: break-word;
                text-align: center;
            }

            app-spinner {
                display: block;

                text-align: center;
            }
        }

        .left {
            background-color: lighten($primary-color-light, 20%);;

        }

        .right {
            background-color: $primary-color-light;
        }
    }
}
