$block-width: 320px;
$padding: 10px;
$image-width: 32px;

$light-color: #aeaeae;
$dark-color: rgba(51, 51, 51, .95);

.product-filter {
    padding: $padding * 2;

    text-align: center;
    color: $light-color;

    .filter-group {
        text-align: left;

        .filter-item {
            display: block;
            margin-top: $padding * 2;

            &:first-child {
                margin-top: 0;
            }
        }
    }
}
