@import "./../../styles/colors.scss";
@import "./../../styles/box-model.scss";

.dialog--theme-default {
    $modal-title-color: $primary-text-color;
    $modal-text-color: $controls-text-color;
    $modal-light-color: lighten($controls-light-primary-background-color, 10%);
    $modal-dark-color: lighten($controls-default-primary-background-color, 10%);
    $modal-paranja-color: rgba(0, 0, 0, 0.4);

    .header {
        background-color: $modal-dark-color;
        color: $modal-title-color;
    }

        .header__close {
            color: $modal-text-color;
            font-weight: bold;

            &:hover {
                color: $modal-title-color;
                text-shadow: 2px 2px 2px $modal-paranja-color;
            }
        }

        .header__title {
            font-weight: bold;
        }

    .footer {
        background-color: $modal-dark-color;
        color: $modal-text-color;
    }
}

.dialog--size-default {
    $modal-header-height: 50px;
    $modal-font-size: 16px;
    $modal-text-padding: $padding-size;
    $modal-content-padding: $block-margin-size;

    .header {
        padding: $modal-text-padding / 2 $modal-text-padding;

        height: $modal-header-height;

        font-size: $modal-font-size;
    }

        .header__close {
            font-size: 1.5em;
            line-height: $modal-header-height - $modal-text-padding;
        }

        .header__title {
            padding-right: $modal-text-padding;

            line-height: $modal-header-height - $modal-text-padding;
        }

    .body {
        padding: $modal-content-padding;
    }

    .footer {
        padding: $modal-text-padding / 2 $modal-content-padding;

        app-button {
            margin: 0 $block-margin-size;
        }
    }
}

.header {
    box-sizing: border-box;
}

    .header__close {
        float: right;

        cursor: pointer;
    }

    .header__title {
        margin: 0;

        white-space: nowrap;
        word-wrap: normal;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .footer__block {
        display: flex;
        align-items: center;
        justify-content: center;
    }
