<div class="controls-block">
    <span class="action-text">
        You can <a class="action-link" (click)="addProductsToWarehouse()">add 5 more</a>.
    </span>
    <span class="action-text">
        Also you can
        <a class="action-link" (click)="editing = true">edit details</a>
        or
        <a class="action-link" (click)="deleting = true">delete it</a>.
    </span>
</div>

<app-product-popup
    *ngIf="editing"
    [editProduct]="product"
    (cancelPressed)="editing = false"
    (okPressed)="updateProductDetails($event); editing = false;"
></app-product-popup>

<app-dialog-window
    *ngIf="deleting"
    caption="Delete &quot;{{product.name}}&quot;"
    (cancelPressed)="deleting = false"
    (okPressed)="deleteProduct()"
>
    <p class="confirm">
        Are you sure want to delete "{{product.name}}"?
    </p>
</app-dialog-window>
