@import "./../../shared/styles/box-model.scss";

.controls-block {
    margin: $block-margin-size 0;
    
    .action-text .action-link {
        cursor: pointer;
        color: #3F51B5;
        border-bottom: $block-border-size dashed #3F51B5;
    }

}
