@import "./../../styles/colors.scss";
@import "./../../styles/box-model.scss";

.button {
    box-sizing: border-box;
}

    .button--theme-default {
        $button-title-color: $text-primary-color;
        $button-text-color: $primary-text-color;
        $button-light-color: $light-primary-background-color;
        $button-default-color: $default-primary-background-color;
        $button-dark-color: $dark-primary-background-color;

        &.button {
            background-color: $button-default-color;
            border-left-color: $button-light-color;
            border-top-color: $button-light-color;
            border-right-color: $button-dark-color;
            border-bottom-color: $button-dark-color;
        }
    }
    
    .button--size-default {
        $button-width: 100px;
        $button-font-size: 16px;
        $button-border-size: 2px;
        $button-border-diff: 1px;
        $button-text-padding: $padding-size;
        $button-padding: $block-margin-size;

        &.button {
            margin: 0 $button-padding;
            padding: $button-text-padding / 2 $button-text-padding;

            min-width: $button-width;

            border-top-width: $button-border-size - $button-border-diff;
            border-left-width: $button-border-size - $button-border-diff;
            border-right-width: $button-border-size + $button-border-diff;
            border-bottom-width: $button-border-size + $button-border-diff;

            &:active {
                border-top-width: $button-border-size + $button-border-diff;
                border-left-width: $button-border-size + $button-border-diff;
                border-right-width: $button-border-size - $button-border-diff;
                border-bottom-width: $button-border-size - $button-border-diff;
            }
        }
    }

    .button {
        border-style: solid;

        outline: none;
    }
