<div class="modal modal--theme-default modal--size-default">
    <div class="modal__content">
        <header class="modal__content__header">
            <span
                class="modal__content__header__close"
                (click)="cancelPressed.emit($event)"
            >&times;</span>
            <h3
                class="modal__content__header__title"
            >{{
                caption
            }}</h3>
        </header>
        <div class="modal__content__body">
            <ng-content></ng-content>
        </div>
        <footer
            *ngIf="showButtons"
            class="modal__content__footer"
        >
            <div class="modal__content__footer__block">
                <app-button
                    (pressed)="okPressed.emit($event)"
                    caption="Ok"
                ></app-button>
                <app-button
                    (pressed)="cancelPressed.emit($event)"
                    caption="Cancel"
                ></app-button>
            </div>
        </footer>
    </div>
</div>