<div class="radiobox radiobox--theme-default radiobox--size-default">
    <app-control-caption [caption]="caption"></app-control-caption>

    <div
        *ngFor="let item of items"
        class="radiobox__item"
        [ngClass]="{
            'radiobox__item--checked': selectedKey === item[keyProperty]
        }"
        (click)="selectedKey = item[keyProperty];change.emit(item[keyProperty])"
    >
        <span class="radiobox__item__label">{{
            item[displayProperty]
        }}</span>
    </div>
</div>
