$primary-color-dark: #455A64;
$primary-color: #607D8B;
$primary-color-light: #CFD8DC;
$primary-color-text: #FFFFFF;
$accent-color: #009688;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$divider-color: #BDBDBD;

$controls-dark-primary-background-color: darken($primary-color-dark, 20%);
$controls-default-primary-background-color: darken($primary-color, 20%);
$controls-light-primary-background-color: darken($primary-color-light, 20%);
$controls-caption-color: $primary-color-light;
$controls-text-color: lighten($primary-color-light, 10%);
$controls-accent-background-color: $accent-color;