$dark-primary-background-color: rgb(51, 51, 51);
$default-primary-background-color: lighten($dark-primary-background-color, 20%);
$light-primary-background-color: #aeaeae;
$text-primary-color: #FFFFFF;
$accent-background-color: #00BCD4;
$primary-text-color: darken($text-primary-color, 20%);
$secondary-text-color: #757575;
$divider-border-color: #BDBDBD;
