@import "./../../shared/styles/box-model.scss";
@import "./../../shared/styles/colors.scss";

$sidebar-width: 420px;
$action-icon-size: 32px;
$action-height: $action-icon-size + $padding-size;

$transition: left .2s ease-in-out;

.product-page {
    width: 100%;

    overflow-x: hidden;

    .layout {
        position: relative;
        left: 0;

        transition: $transition;

        .navigation-bar {
            padding: 0 $padding-size;

            width: 100%;

            background: $primary-color;
            overflow: auto;

            .action {
                display: block;
                float: left;
                margin: $padding-size;

                height: $action-height;

                border: $block-border-size solid $primary-color-light;
                line-height: $action-height;
                color: $primary-color-text;

                &:hover {
                    border: $block-border-size solid $primary-color-text;
                }
            }

            .show-filter {
                width: 100px;

                background-image: url(
                    "data:image/svg+xml;base64, PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDMyIDMyIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAzMiAzMiIgaGVpZ2h0PSIzMiIgd2lkdGg9IjMyIiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHBhdGggaWQ9IlZpc2l0cyIgZmlsbD0iI2ZmZiIgZD0iTTQsNGw4LDEydjEybDgtN3YtNWw4LTEySDR6Ii8+Cjwvc3ZnPg=="
                );
                background-repeat: no-repeat;
                background-position: center center;
                background-size: $action-icon-size $action-icon-size;
            }

            .button-texted {
                padding: 0 $padding-size 0 $action-icon-size + 2 * $padding-size;
                
                background-repeat: no-repeat;
                background-position: left $padding-size center;
                background-size: $action-icon-size $action-icon-size;

                &.add-category, &.add-product {
                    background-image: url(
                        "data:image/svg+xml;base64,CjxzdmcgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDEwMDAgMTAwMCIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMTAwMCAxMDAwIiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPG1ldGFkYXRhPiBTdmcgVmVjdG9yIEljb25zIDogaHR0cDovL3d3dy5vbmxpbmV3ZWJmb250cy5jb20vaWNvbiA8L21ldGFkYXRhPgogIDxnPjxnPjxwYXRoIGQ9Ik05OTAsNTY5LjFINTY5LjFWOTkwSDQzMC45VjU2OS4xSDEwVjQzMC45aDQyMC45VjEwaDEzOC4xdjQyMC45SDk5MFY1NjkuMXoiIHN0eWxlPSJmaWxsOiNGRkZGRkYiPjwvcGF0aD48L2c+PC9nPjwvc3ZnPgogIA=="
                    );
                }

                &.delete-category {
                    background-image: url(
                        "data:image/svg+xml;base64,CjxzdmcgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDEwMDAgMTAwMCIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMTAwMCAxMDAwIiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPG1ldGFkYXRhPiBTdmcgVmVjdG9yIEljb25zIDogaHR0cDovL3d3dy5vbmxpbmV3ZWJmb250cy5jb20vaWNvbiA8L21ldGFkYXRhPgogIDxnPjxwYXRoIGQ9Ik0xMCw0MTguNnYxNjIuOGg5ODBWNDE4LjZIMTB6IiBzdHlsZT0iZmlsbDojRkZGRkZGIj48L3BhdGg+PC9nPjwvc3ZnPgogIA=="
                    );
                }
            }
        }
    }

    .sidebar {
        position: fixed;
        left: -$sidebar-width;
        top: 0;
        bottom: 0;

        width: $sidebar-width;

        background: transparentize($primary-color-dark, .5);
        z-index: 110;

        transition: $transition;
    }

    .overlay {
        display: none;
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;

        background: rgba(0, 0, 0, .7);

        z-index: 100;
    }

    &.sidebar-shown {
        .layout {
            left: $sidebar-width;
        }

        .sidebar {
            left: 0;
        }

        .overlay {
            display: block;
        }
    }
}

.clear {
    clear: both;
}

.popup {
    fieldset {
        margin: 0;
        padding: 0;

        border: none;

        .input {
            margin: $padding-size 0;

            label {
                display: inline-block;

                width: 140px;

                vertical-align: top;
            }
        }        
    }

    .edit-form {
        display: table;
        
        width: 100%;
        min-height: 315px;

        > div {
            display: table-row;
        }

        .fields {
            display: table-cell;
            margin: 0;
            padding: 0;

            width: 100%;

            border: none;

            .input {
                margin: $padding-size 0;

                &.rating select {
                    width: 100px;
                }
            }

            input, textarea {
                width: calc(100% - 95px);

                box-sizing: border-box;
            }

            textarea {
                height: 7em;

                resize: none;
            }

            label {
                display: inline-block;

                width: 90px;

                vertical-align: top;
            }
        }

        .image-preview {
            display: table-cell;
            padding-left: $padding-size;

            width: 300px;
            
            text-align: center;
            white-space: nowrap;
            vertical-align: top;
            line-height: 0;

            img {
                display: inline-block;
                
                max-width: 300px;
                max-height: 370px;
            }
        }
    }
}
