<article
    class="product-page"
    [class.sidebar-shown]="sidebarShown"
>
    <div class="layout">
        <nav class="navigation-bar">
            <a class="action show-filter" (click)="sidebarShown = true"></a>

            <a
                *ngIf="showAdminControls"
                class="action button-texted add-category"
                (click)="popup = popupType.AddCategory"
            >
                category
            </a>

            <a
                *ngIf="showAdminControls"
                class="action button-texted delete-category"
                (click)="popup = popupType.DeleteCategory"
            >
                category
            </a>

            <a
                *ngIf="showAdminControls"
                class="action button-texted add-product"
                (click)="popup = popupType.AddProduct"
            >
                product
            </a>
        </nav>

        <app-product-list></app-product-list>
    </div>

    <div class="overlay" (click)="sidebarShown = false"></div>
    
    <aside class="sidebar">
        <app-product-filter></app-product-filter>
    </aside>
</article>

<app-dialog-window
    *ngIf="popup === popupType.AddCategory"
    class="popup"
    caption="Add category"
    (cancelPressed)="popup = popupType.None"
    (okPressed)="addCategory(categoryName.value); popup = popupType.None;"
>
    <fieldset class="fields">
        <div class="input category">
            <label for="category-name">Category name:</label>
            <input #categoryName type="text" id="category-name">
        </div>
    </fieldset>
</app-dialog-window>

<app-dialog-window
    *ngIf="popup === popupType.DeleteCategory"
    class="popup"
    caption="Delete category"
    (cancelPressed)="popup = popupType.None"
    (okPressed)="deleteCategory(selectCategoryId.value); popup = popupType.None;"
>
    <fieldset class="fields">
        <div class="input category">
            <label for="category-name">Category:</label>
            <select #selectCategoryId>
                <option
                    *ngFor="let category of categories | async"
                    [value]="category.id"
                >
                    {{category.name}}
                </option>
            </select>
        </div>
    </fieldset>
</app-dialog-window>

<app-product-popup
    *ngIf="popup === popupType.AddProduct"
    (cancelPressed)="popup = popupType.None"
    (okPressed)="addProduct($event); popup = popupType.None;"
></app-product-popup>
