<div
    *ngIf="(sellState | async) !== sellStateType.Selling"
    class="controls-block"
>
    <app-button
        *ngIf="product.count - product.soldCount > 0"
        (pressed)="buy()"
        [caption]="'Buy' + ((sellState | async) === sellStateType.Sold ? ' more' : '')"
    ></app-button>
    
    <span
        *ngIf="(sellState | async) === sellStateType.Sold"
        class="sold"
    >
        Your purchase will be delivered soon
    </span>

    <span
        *ngIf="(sellState | async) === sellStateType.Error"
        class="sold-out"
    >
        Sorry, nothing left
    </span>
</div>

<div
    *ngIf="(sellState | async) === sellStateType.Selling"
    class="controls-block"
>
    <app-spinner></app-spinner>
</div>
